# Bytecode / build
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Entornos virtuales
.venv/
venv/

# Archivos sensibles
.env
*.json

# Configs locales
credentials/
clients/

# Archivos de sistema
.DS_Store
