# Core
pandas
pyarrow
requests

# Google Cloud APIs
google-cloud-bigquery
google-cloud-storage
google-cloud-secret-manager
google-cloud-aiplatform
google-auth

# Meta Ads
facebook-business==17.0.0

# FastAPI + server
fastapi
uvicorn



