# Core
pandas
pyarrow
requests
Pillow  # For image compression

# Google Cloud APIs
google-cloud-bigquery==3.11.4
google-cloud-storage==2.10.0
google-cloud-secret-manager==2.16.4
google-cloud-aiplatform==1.35.0
google-auth==2.23.4

# Meta Ads
facebook-business==17.0.0

# FastAPI + server
fastapi
uvicorn
